@import './reset.css';
@import './generals.css';
@import './vars.css';
@import './atoms.css';
@import './grid.css';
@import './styles.css';
@import './accordion.css';
@import './modal.css';

/**
 * Generals
 */
html, body {
	height: 100%;
	min-height: 100%;
}

body {
	width: "100wh";
	height: 90vh;
	min-height: 1200px;
	font-family: var(--mainFontFamily);
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
